# Biar file-file/folder ini ga ikut ke-commit
*.class
.vscode/
bin/
target/
/Praktikum 10/In-Lab/jdbc_mhs_service/nbproject/private/
/Praktikum 10/In-Lab/jdbc_mhs_service/build/
/Praktikum 11/In-Lab/modul_A/nbproject/private/
/Praktikum 11/In-Lab/modul_A/build/
/Praktikum 10/In-Lab/jdbc_mhs_service_GUI/build/
/Praktikum 10/In-Lab/jdbc_mhs_service_GUI/nbproject/private/
/Praktikum 11/In-Lab/jdbc_mhs_service_gui/nbproject/private/
/Praktikum 11/Tugas/tugas_modul_A/nbproject/private/
/Praktikum 11/Tugas/tugas_modul_A/build/
